.ql-placeholder-dropdown {
    position: absolute;
    background-color: #fff;
    border: 1px solid #ccc;
    z-index: 100;
    margin-top: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    min-width: 150px;
}

.ql-placeholder-item {
    padding: 8px 12px;
    cursor: pointer;
}

.ql-placeholder-item:hover {
    background-color: #f0f0f0;
}
